{% extends 'layout.html' %}
{% block heading %}All Items{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<ul>
  {% for item in items %}
  <li><a href="{{url_for('item', product_id=item.product_id)}}">{{item.item_name}}</a></li>
  {% endfor %}
</ul>
<hr/>
<p>{{items|length}} item{{items|length|pluralize}}
  found in the database.</p>
{% endblock %}
