<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mini Amazon</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>

<body>
    <section class="hero is-light is-fullheight">

        <div class="hero-head">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <a class="navbar-item" href="{{url_for('home')}}">
                        <img src="/static/img/logo.png" height="200">
                    </a>

                    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>

                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="{{url_for('home')}}">
                            Home
                        </a>

                        <a class="navbar-item" href="{{url_for('profile')}}">
                            Profile
                        </a>

                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                More
                            </a>

                            <div class="navbar-dropdown">
                                <a class="navbar-item" href="{{url_for('wishlist')}}">
                                    <span class="icon">
                                        <i class="fas fa-heart is-pulled-left"></i>
                                    </span>
                                    <p>
                                        | Wishlist
                                    </p>
                                </a>
                                <a class="navbar-item" href="{{url_for('cart')}}">
                                    <span class="icon">
                                        <i class="fas fa-cart-arrow-down is-pulled-left"></i>
                                    </span>
                                    <p>
                                        | Cart
                                    </p>
                                </a>
                                <a class="navbar-item" href="{{url_for('sales_history')}}">
                                    <span class="icon">
                                        <i class="fas fa-tags is-pulled-left"></i>
                                    </span>
                                    <p>
                                        | Sales
                                    </p>
                                </a>
                                <a class="navbar-item" href="{{url_for('order_history')}}">
                                    <span class="icon">
                                        <i class="fas fa-gift is-pulled-left"></i>
                                    </span>
                                    <p>
                                        | Orders
                                    </p>
                                </a>
                            </div>
                        </div>
                    </div>


                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                {% if current_user.is_authenticated %}
                                  <a class="button is-info" href="{{url_for('logout')}}">
                                    <strong>Log Out</strong>

                                  </a>
                                {% else %}
                                  <a class="button is-primary" href="{{url_for('register')}}">
                                      <strong>Sign Up</strong>
                                  </a>
                                  <a class="button is-info" href="{{url_for('login')}}">
                                      <strong>Log in</strong>
                                  </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </nav>

        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>
