{% extends "base.html" %}
{% block heading %}Cart{% endblock %}
{% block content %}








<div class="columns is-centered">
    <div class="column is-5">
        <h3 class="title">Shopping Cart</h3>
        <div class="box">

            <ul>
            {% for i in range(0, items|length)%}
            <li><a href="{{url_for('item', product_id=items[i].product_id)}}">
                <img src={{items[i].image}} height="100" width="120"  style="float:left">
                    <b>{{items[i].item_name}}</b></a> <br>Sold by {{items[i].seller_username}} <br> Quantity: {{cart_items[i].cart_quantity}}
                    <br> PRICE: ${{'%0.2f' % items[i].price}}
                <a href="{{url_for('subtract_quantity_cart', product_id=items[i].product_id, seller_username=items[i].seller_username, buyer_username=username)}}">
                    <button type="button">-</button>
                </a>
                <a href="{{url_for('add_quantity_cart', product_id=items[i].product_id, seller_username=items[i].seller_username, buyer_username=username)}}">
                    <button type="button">+</button>
                </a>
                <a href="{{url_for('delete_cart', product_id=items[i].product_id, seller_username=items[i].seller_username, buyer_username=username)}}">
                    <button type="button">DELETE</button>
                </a>
                <hr>
            </li>
            {% endfor %}
            </ul>

            <p>Subtotal ({{total_quantity}} item{{total_quantity|pluralize}}): ${{total_price}}</p>

        </div>
        <a class="button is-link is-large" href="{{url_for('transaction_success', buyer_username = username)}}">
            Proceed to Checkout
        </a>
    </div>
</div>
{% endblock %}
