{% extends 'layout.html' %}
{% block heading %}Drinker Information: {{drinker.name}}{% endblock %}
{% block content %}
<p>Name: {{drinker.name}}</p>
<p>Address: {{drinker.address}}</p>
<p>Beer(s) liked:
  <ul>
    {% for like in drinker.likes %}
    <li>{{like.beer}}</li>
    {% endfor %}
  </ul>
</p>
<p>Bar(s) frequented:
  <ul>
    {% for frequent in drinker.frequents %}
    <li>{{frequent.bar}}: {{frequent.times_a_week}}</li>
    {% endfor %}
  </ul>
</p>
<hr/>
<p><a href="{{url_for('edit_drinker', name=drinker.name)}}">Edit</a>
  this information or see <a href="/">all drinkers</a>.</p>
{% endblock %}
