{% extends 'base.html' %}
{% block heading %}{% endblock %}
{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                <span>{{ message }}</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}

<div class="columns is-centered">
    <div class="column is-6">
        <h3 class="title">Edit Item</h3>
        <div class="box">
            <form action="{{url_for('edit_item', product_id = item.product_id)}}" method="POST" enctype="multipart/form-data">

                {{form.csrf_token}}

                <div class="field">
                    <div class="control">
                        <input class="input is-info is-medium" type="text" name="item_name" value="{{item.item_name}}" placeholder="Item name" autofocus="" required>
                    </div>
                </div>

                <p>
                    Category: {{form.category}}
                    {% if form.category.errors %}
                <ul>{% for error in form.category.errors %}<li>{{error}}</li>{% endfor %}</ul>
                {% endif %}
                </p>
                <p>
                    Condition: {{form.condition}}
                    {% if form.condition.errors %}
                <ul>{% for error in form.condition.errors %}<li>{{error}}</li>{% endfor %}</ul>
                {% endif %}
                </p>
                <br>

                <div class="field">
                    <div class="control">
                        <input class="input is-info is-medium" type="float" name="price" value="{{item.price}}" placeholder="Price" autofocus="" required>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <input class="input is-info is-medium" type="integer" name="quantity" value="{{item.quantity}}" placeholder="Quantity" autofocus="" required>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <textarea class="textarea is-info is-medium" type="text" name="description" placeholder="Description" autofocus="" required>{{item.description}}</textarea>
                    </div>
                </div>
                <p>
                    Image: {{form.image}}
                    {% if form.image.errors %}
                <ul>{% for error in form.image.errors %}<li>{{error}}</li>{% endfor %}</ul>
                {% endif %}
                </p>
                <hr/>
                <input class="button is-light is-medium" type="reset" value="Reset" style="margin-right:10px"/>
                <input class="button is-primary is-medium" type="submit" value="Submit" style="margin-left:10px"/>
                {% if 'database' in form.errors %}<p>{{form.errors['database']}}</p>{% endif %}
            </form>
            {% if 'database' in form.errors %}<p>{{form.errors['database']}}</p>{% endif %}
        </div>
    </div>
</div>

{% endblock %}
