{% extends 'layout.html' %}
{% block heading %}Edit Drinker Information: {{drinker.name}}{% endblock %}
{% block content %}
<form action="{{url_for('edit_drinker', name=drinker.name)}}" method="POST">
  {{form.csrf_token}}
  <p>
    Name: {{form.name}}
    {% if form.name.errors %}
    <ul>{% for error in form.name.errors %}<li>{{error}}</li>{% endfor %}</ul>
    {% endif %}
  </p>
  <p>
    Address: {{form.address}}
    {% if form.address.errors %}
    <ul>{% for error in form.address.errors %}<li>{{error}}</li>{% endfor %}</ul>
    {% endif %}
  </p>
  <p>Beer(s) liked:
    <ul>
      {% for beer, field in form.beer_fields() %}
      <li>
        {{beer}}: {{field}}
        {% if field.errors %}
        <ul>{% for error in field.errors %}<li>{{error}}</li>{% endfor %}</ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </p>
  <p>Bar(s) frequented:
    <ul>
      {% for bar, field in form.bar_fields() %}
      <li>
        {{bar}}: {{field}}
        {% if field.errors %}
        <ul>{% for error in field.errors %}<li>{{error}}</li>{% endfor %}</ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </p>
  <hr/>
  <input type="reset" value="Reset"/>
  <input type="submit" value="Submit"/>
  {% if 'database' in form.errors %}<p>{{form.errors['database']}}</p>{% endif %}
</form>
{% endblock %}
