<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Mini Amazon</title>
    <meta name="description" content="A mini amazon"/>
    <meta name="keywords" content="flask, db-miniamazon"/>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" media="screen"/>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
</head>
  </head>
  <body>
    <h1><img src="https://i.ibb.co/hyFgz7B/Screen-Shot-2020-10-19-at-9-58-42-PM.png" style="float:right" height=150px/> <a href="/">Home</a></h1>
    <h1><a href="{{url_for('profile')}}">Your Profile</a>
    <h1><a href="{{url_for('login')}}">Log in</a></h1>
    <h1><a href="{{url_for('logout')}}">Log out</a></h1>
    <h1><a href="/cart">View Cart</a></h1>
    <h1><a href="/wishlist">View Wishlist</a></h1>
    <h1><a href="/order-history">Order History</a></h1>
    <h1><a href="{{url_for('post_item')}}">Post an Item</a></h1>
    <hr/>
    <h2 id="heading">{% block heading %}{% endblock %}</h2>
    {% block content %}{% endblock %}
  </body>
</html>
