{% extends 'layout.html' %}
{% block heading %}Order History{% endblock %}
{% block content %}
<ul>
  {% for i in range(0, items|length)%}
  <li>
    <h1> Order ID: {{orders[i].order_id}} </h1>
    <p> Tracking Number: {{Order[i].tracking_num}} </p>
    <p> Item: {{items[i].item_name}} </p>
    <p> Category: {{items[i].category}}
    <p> Condition: {{items[i].condition}} </p>
    <p> Price: {{items[i].price}} </p>
    <p> Quantity: {{orders[i].order_quantity}} </p>
    <p> Image: {{items[i].image}} </p>
    <p> Date Bought: {{Order[i].date_ordered}} </p>
    <p> Date Returned: {{Order[i].date_returned}} </p>
  </li>
  {% endfor %}
</ul>
<hr/>

{% endblock %}
