{% extends "base.html" %}
{% block heading %}Sales History{% endblock %}
{% block content %}
<ul>
    {% for order in range(0, orders|length)%}
      {% for item in range(0, items[order]|length)%}
    <li>
        <p> Item: <a href="{{url_for('item', product_id=items[order][item].product_id)}}">{{items[order][item].item_name}}</a> </p>
        <p> Condition: {{items[order][item].condition}} </p>
        <p> Price: ${{'%0.2f' % items[order][item].price}} </p>
        <img src={{items[order][item].image}}>
    </li>
    {% endfor %}
    {% endfor %}
</ul>
<hr/>

{% endblock %}
