{% extends 'base.html' %}
{% block heading %}Items Sold/Sales History{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-primary alert-dismissible fade show" role="alert">
                    <span>{{ message }}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}



<h1> <strong>Items Currently Selling </strong></h1>
{% for item in itemsSelling%}
  <p> Item: <a href="{{url_for('item', product_id=item.product_id)}}">{{item.item_name}}</a>
  </p>
  <p><a href="{{url_for('edit_item', product_id=item.product_id)}}">Edit</a> <a href="{{url_for('delete_item', product_id=item.product_id)}}">Delete</a></p>
  <br></br>
{% endfor %}

<br></br>
<br></br>

<h1> <strong>Items Sold </strong></h1>
<ul>
    {% for item in itemsSold%}
      <li>
          <img src="{{item[1].image}}">
          <p><a href="{{url_for('item', product_id=item[1].product_id)}}">{{item[1].item_name}}</a> </p>
          <p> Bought by {{item[2].buyer_username}} </p>
          <p> Quantity bought: {{item[0].order_quantity}} </p>
          <p> Condition: {{item[1].condition}} </p>
          <p> Price: ${{'%0.2f' % item[1].price}} </p>
          <p> Order ID: {{item[2].order_id}}</p>
          <p> Date ordered: {{item[2].date_ordered}}</p>
          {% if item[0].date_returned %}
          <p> Item was returned </p>
          {% endif %}
      </li>
      <br></br>
    {% endfor %}
</ul>
<hr/>

{% endblock %}
