{% extends 'base.html' %}
{% block heading %}Wishlist{% endblock %}
{% block content %}
<div class="columns is-centered">
    <div class="column is-white is-10">
        <h3 class="title">Wish list</h3>
        <div class="box">
            <div class="content">
                    {% for i in range(0, items|length)%}
                        <div class="columns">
                            <div class="column is-one-quarter">
                                <img src={{items[i].image}}>
                                <a href="{{url_for('review', product_id=items[i].product_id)}}">
                                    <button class="button is-light" style="width:200px;">
                                        <span class="icon">
                                            <i class="fas fa-comment-alt is-pulled-left" style="margin-right:40px;"></i>
                                        </span>
                                        Go to reviews
                                    </button>
                                </a>
                            </div>
                            <div class="column is-half">
                                <a href="{{url_for('item', product_id=items[i].product_id)}}">
                                    <button class="button is-primary is-medium is-inverted" style="white-space:normal;">
                                        <strong>{{items[i].item_name}}</strong>
                                    </button>
                                </a>
                                <br>
                                <p class="title is-5">
                                    Sold by <em>{{items[i].seller_username}}</em>
                                </p>
                                <p class="text">
                                    Quantity:
                                    <span class="tag is-light">
                                        {{wishlist_items[i].wishlist_quantity}}
                                    </span>
                                    <br>
                                    Price:
                                    <span class="tag is-light">
                                        ${{'%0.2f' % items[i].price}}
                                    </span>
                                </p>
                            </div>
                            <div class="column is-one-quarter">
                                <p class="buttons">
                                    <a href="{{url_for('add_quantity_wishlist', product_id=items[i].product_id, seller_username=items[i].seller_username, buyer_username=username)}}">
                                        <button class="button is-success is-inverted" style="width:200px;">
                                            <span class="icon">
                                                <i class="fas fa-plus is-pulled-left" style="margin-right:90px;"></i>
                                            </span>
                                            Add one
                                        </button>
                                    </a>
                                    <br>
                                    <a href="{{url_for('subtract_quantity_wishlist', product_id=items[i].product_id, seller_username=items[i].seller_username, buyer_username=username)}}">
                                        <button class="button is-danger is-inverted" style="width:200px;">
                                            <span class="icon">
                                                <i class="fas fa-minus" style="margin-right:62px;"></i>
                                            </span>
                                            Remove one
                                        </button>
                                    </a>
                                    <br>
                                    <a href="{{url_for('delete_wishlist', product_id=items[i].product_id, seller_username=items[i].seller_username, buyer_username=username)}}">
                                        <button class="button is-light" style="width:200px;">
                                            <span class="icon">
                                                <i class="fas fa-times" style="margin-right:30px;"></i>
                                            </span>
                                            Remove from list
                                        </button>
                                    </a><br>
                                </p>
                            </div>
                        </div>
                    <hr>
                    {% endfor %}
            </div>
            <p class="title is-4">
                <strong>Subtotal</strong>
                ({{total_quantity}} item{{total_quantity|pluralize}}):
                <span class="tag is-light is-large">
                    ${{total_price}}
                </span>
            </p>
        </div>
    </div>
</div>
{% endblock %}
