{% extends "base.html" %}
{% block heading %}Cart{% endblock %}
{% block content %}


<div class="columns is-centered">
    <div class="column is-5">
        <h3 class="title">Wishlist</h3>
        <div class="box">

            <ul>
                {% for i in range(0, items|length)%}
                <li><a href="{{url_for('item', product_id=items[i].product_id)}}">
                    <img src={{items[i].image}} height="100" width="120"  style="float:left">
                    <b>{{items[i].item_name}}</b></a> <br>Sold by {{items[i].seller_username}} <br>
                    <br> PRICE: ${{'%0.2f' % items[i].price}}
                    <br> <a href="{{url_for('wishlist_to_cart', product_id=items[i].product_id, seller_username=items[i].seller_username)}}"><button class="button is-warning is-small is-pulled-right">Add to Cart</button></a>
                    <hr>
                </li>
                {% endfor %}
            </ul>


        </div>
        <a class="button is-link is-large" href="{{url_for('cart', buyer_username = username)}}">
            View Cart
        </a>

    </div>
</div>
{% endblock %}
