{% extends 'layout.html' %}
{% block heading %}Wishlist{% endblock %}
{% block content %}
<ul>
  {% for i in range(0, len)%}
  <li><a href="{{url_for('item', product_id=items[i].product_id)}}">{{items[i].item_name}}</a> sold by {{items[i].seller_username}} - Quantity: {{wishlist_items[i].wishlist_quantity}}
    <a href="{{url_for('subtract_quantity_wishlist', product_id=items[i].product_id, seller_username=items[i].seller_username, buyer_username=username)}}">
      <button type="button">-</button>
    </a>
    <a href="{{url_for('add_quantity_wishlist', product_id=items[i].product_id, seller_username=items[i].seller_username, buyer_username=username)}}">
      <button type="button">+</button>
    </a>
    <a href="{{url_for('delete_wishlist', product_id=items[i].product_id, seller_username=items[i].seller_username, buyer_username=username)}}">
      <button type="button">DELETE</button>
    </a>
  </li>
  {% endfor %}
</ul>
<hr/>
<p>{{items|length}} item{{items|length|pluralize}}
  in wishlist.</p>
{% endblock %}
